<header class="products-header">
    <h1 class="products-header__item">Product Listings</h1>
    <div class="products-header__item">
        <app-price-selector
            (selectionRange)="setPriceRange($event)"
        ></app-price-selector>
    </div>
    <div class="products-header__item">
        <button mat-stroked-button id="add-btn" routerLink="/add">
            Add Product
        </button>
    </div>
</header>

<section>
    <div class="products-container">
        <app-card *ngFor="let p of products" [currentProduct]="p"></app-card>
    </div>
</section>
