.products-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    justify-items: center;
}

.products-header {
    display: flex;
    justify-content: right;
    padding: 50px 50px;
}
