<mat-card class="product-card">
    <div [routerLink]="['/products', currentProduct.id]">
        <mat-card-title class="product-card__title">{{
            currentProduct.name
        }}</mat-card-title>
        <mat-card-subtitle class="product-card__subtitle"
            >${{ currentProduct.price }} USD</mat-card-subtitle
        >
        <img [src]="currentProduct.image" class="product-card__img" />
        <!-- <mat-card-footer class="product-card__footer">{{
        currentProduct.description
    }}</mat-card-footer> -->
    </div>
    <mat-card-footer>
        <div class="product-card__buttons">
            <button
                [routerLink]="['/products', currentProduct.id]"
                class="card-btn"
                id="view"
                mat-stroked-button
            >
                View
            </button>
            <button
                class="card-btn"
                id="delete"
                (click)="deleteProduct()"
                mat-stroked-button
            >
                Delete
            </button>
            <button
                [routerLink]="['/edit', currentProduct.id]"
                class="card-btn"
                id="edit"
                mat-stroked-button
            >
                Edit
            </button>
        </div>
    </mat-card-footer>
</mat-card>
