.product-card {
    $inner-margin: 10px;
    max-width: 300px;
    #{&}__title {
        margin: $inner-margin;
    }
    #{&}__subtitle {
        margin: $inner-margin;
    }
    #{&}__img {
        margin-top: 5px;
        margin-bottom: 8px;
        max-width: 300px;
    }
    #{&}__footer {
        margin: $inner-margin;
    }
    #{&}__buttons {
        display: flex;
        justify-content: space-between;
        .card-btn {
            margin: 10px;
        }
        // #delete {
        //     color: red;
        // }
        // #edit {
        //     color: blue;
        // }
    }
}
