.product-card {
    $inner-margin: 10px;
    max-width: 300px;
    #{&}__title {
        margin: $inner-margin;
    }
    #{&}__subtitle {
        margin: $inner-margin;
    }
    #{&}__img {
        margin-top: 5px;
        margin-bottom: 8px;
    }
    #{&}__footer {
        margin: $inner-margin;
    }
}
