<div class="container">
    <img id="img" src="assets/PLC3.jpg" />
    <div id="about-text">
        <h1>About Industrial Parts</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            repellendus, eum voluptas assumenda laudantium quasi quisquam
            quibusdam, labore at velit commodi. Tempore labore assumenda dolor
            dolore pariatur quae iure tempora.
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            repellendus, eum voluptas assumenda laudantium quasi quisquam
            quibusdam, labore at velit commodi. Tempore labore assumenda dolor
            dolore pariatur quae iure tempora.
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            repellendus, eum voluptas assumenda laudantium quasi quisquam
            quibusdam, labore at velit commodi. Tempore labore assumenda dolor
            dolore pariatur quae iure tempora.
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            repellendus, eum voluptas assumenda laudantium quasi quisquam
            quibusdam, labore at velit commodi. Tempore labore assumenda dolor
            dolore pariatur quae iure tempora.
        </p>
    </div>
</div>
