<h1>Add New Product</h1>
<form #form="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Name: </label>
        <input type="text" name="name" [(ngModel)]="newProduct.name" />
    </div>

    <div>
        <label>Image URL: </label>
        <input type="url" name="image" [(ngModel)]="newProduct.image" />
    </div>
    <div>
        <label>Price: </label>
        <input type="text" name="price" [(ngModel)]="newProduct.price" />
    </div>
    <div>
        <label>Category: </label>
        <input type="text" name="category" [(ngModel)]="newProduct.category" />
    </div>
    <div>
        <label>Description: </label>
        <input
            type="text"
            name="description"
            [(ngModel)]="newProduct.description"
        />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
