<h1>Edit Product</h1>
<form #form="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Name: </label>
        <input type="text" name="name" [(ngModel)]="edittedProduct.name" />
    </div>

    <div>
        <label>Image URL: </label>
        <input type="url" name="image" [(ngModel)]="edittedProduct.image" />
    </div>
    <div>
        <label>Price: </label>
        <input type="text" name="price" [(ngModel)]="edittedProduct.price" />
    </div>
    <div>
        <label>Category: </label>
        <input
            type="text"
            name="category"
            [(ngModel)]="edittedProduct.category"
        />
    </div>
    <div>
        <label>Description: </label>
        <input
            type="text"
            name="description"
            [(ngModel)]="edittedProduct.description"
        />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
