<div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="product-form">
        <h1>Add New Product</h1>
        <div class="product-form__row">
            <label>Name: </label>
            <input
                type="text"
                name="name"
                [(ngModel)]="edittedProduct.name"
                size="50"
            />
        </div>
        <div class="product-form__row">
            <label>Image URL: </label>
            <input
                type="url"
                name="image"
                [(ngModel)]="edittedProduct.image"
                size="50"
            />
        </div>
        <div class="product-form__row">
            <label>Price: </label>
            <input
                type="number"
                name="price"
                [(ngModel)]="edittedProduct.price"
                style="width: 385px"
            />
        </div>
        <div class="product-form__row">
            <label>Category: </label>
            <input
                type="text"
                name="category"
                [(ngModel)]="edittedProduct.category"
                size="50"
            />
        </div>
        <div class="product-form__row">
            <label>Description: </label>
            <textarea
                type="text"
                name="description"
                [(ngModel)]="edittedProduct.description"
                cols="50"
            >
            </textarea>
        </div>
        <div class="product-form__row">
            <button type="submit" mat-stroked-button>Submit</button>
        </div>
    </form>
</div>
