<!-- <div *ngFor="let c; in: products"></div> -->
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero totam eaque
    similique fugit minus impedit delectus, enim quisquam laborum dolor
    obcaecati repudiandae quasi veniam magnam ex quibusdam est tempora
    voluptates?
</p>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero totam eaque
    similique fugit minus impedit delectus, enim quisquam laborum dolor
    obcaecati repudiandae quasi veniam magnam ex quibusdam est tempora
    voluptates?
</p>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero totam eaque
    similique fugit minus impedit delectus, enim quisquam laborum dolor
    obcaecati repudiandae quasi veniam magnam ex quibusdam est tempora
    voluptates?
</p>
